{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [ 1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-boolean-value": [ 0, { "always": ["personal"] }],
    "object-curly-newline": [ 2, { "multiline": true,        "minProperties": 7 }],
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}