.cities-list {
  padding: 0 15%;
}

.cities-list__city {
  margin-top: 20px;
  padding-bottom: 20px;

  position: relative;
}

.cities-list__city_hidden {
  display: none;
}

.cities-list__city::after {
  content: '';

  display: block;
  width: 100%;
  height: 1px;

  position: absolute;
  bottom: 0;

  background-color: #EEE;
}

.cities-list__map-view-link {
  position: absolute;
  right: 0;
}