.cities-list {
  padding: 0 15%;
}

.cities-list li {
  margin-top: 20px;
  padding-bottom: 20px;

  position: relative;
}

.cities-list li::after {
  content: '';

  display: block;
  width: 100%;
  height: 1px;

  position: absolute;
  bottom: 0;

  background-color: #EEE;
}