@import '../widgets/filter-section.css';

.add-item-field {
  padding: 20px 0;

  position: relative;

  background-color: #EEE;
}

/*Input styles*/
.add-item-field__input-container {
  margin: 0 auto;
  max-width: 1920px;
  width: 70%;

  position: relative;
}
.add-item-field__input {
  padding: 0 40px 0 20px;
  display: block;
  height: 30px;
  width: calc(100% - 60px);

  border-width: 0;
  color: #666;
}

.add-item-field__input_incorrect {
  outline: #96261E auto 5px;
  outline-offset: -2px;
}

/*Button styles*/
.add-item-field__button {
  width: 40px;
  height: 40px;
  padding: 0;

  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);

  background-color: #1E5799;
  border-radius: 50%;
  border-width: 0;
}
.add-item-field__button::after,
.add-item-field__button::before {
  content: '';
  display: block;
  height: 50%;
  width: 3px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #FFF;
}
.add-item-field__button::before {
  height: 3px;
  width: 50%;
}
.add-item-field__button:hover {
  cursor: pointer;
}