.app-root__page-content {
  max-width: 1920px;
  margin: 0 auto;
}

.app-root__header {
  background: #1E5799;
  padding: 20px;
}

.app-root__title {
  margin: 0;

  text-align: center;
  color: white;
}