@import 'reset.css';
@import 'widgets/checkbox.css';

body {
  font-family: sans-serif;
}

button:focus,
button:active,
a:focus,
a:active,
input:focus,
input:active {
  outline: none;
}

a {
  position: relative;

  text-decoration: none;
  color: #154584;
}

a::after {
  content: '';

  width: 100%;
  height: 1px;

  position: absolute;
  bottom: -3px;
  left: 0;

  background-color: #154584;
}

input:focus,
input:active {
  color: #000;
}

label {
  user-select: none;
}

.warning {
  color: #96261E;
}